@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton-Regular.eot');
    src: url('../fonts/Panton-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Panton-Regular.woff2') format('woff2'),
        url('../fonts/Panton-Regular.woff') format('woff'),
        url('../fonts/Panton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boomboom';
    src: url('../fonts/Boomboom.eot');
    src: url('../fonts/Boomboom.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Boomboom.woff2') format('woff2'),
        url('../fonts/Boomboom.woff') format('woff'),
        url('../fonts/Boomboom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton-Bold.eot');
    src: url('../fonts/Panton-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Panton-Bold.woff2') format('woff2'),
        url('../fonts/Panton-Bold.woff') format('woff'),
        url('../fonts/Panton-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton-Black.eot');
    src: url('../fonts/Panton-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Panton-Black.woff2') format('woff2'),
        url('../fonts/Panton-Black.woff') format('woff'),
        url('../fonts/Panton-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GoodDog';
    src: url('../fonts/GoodDog.eot');
    src: url('../fonts/GoodDog.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GoodDog.woff2') format('woff2'),
        url('../fonts/GoodDog.woff') format('woff'),
        url('../fonts/GoodDog.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dihjauti';
    src: url('../fonts/Dihjauti-Regular.eot');
    src: url('../fonts/Dihjauti-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Dihjauti-Regular.woff2') format('woff2'),
        url('../fonts/Dihjauti-Regular.woff') format('woff'),
        url('../fonts/Dihjauti-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
